[Unit]
Description=DVWA Service
After=network.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/sbin/dvwa start
ExecStop=/usr/sbin/dvwa stop

[Install]
WantedBy=multi-user.target